<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" crossorigin="anonymous"></script>
    <title>GeoDatabase</title>

    <link rel="stylesheet" href="./public/style/layout/style.css">
    <link rel="stylesheet" href="./public/style/header/style.css">
    <link rel="stylesheet" href="./public/style/content/style.css">
    <link rel="stylesheet" href="./public/style/content/BannerStyle.css">
    <link rel="stylesheet" href="./public/style/content/SearchStyle.css">
    <link rel="stylesheet" href="./public/style/content/GeoData.css">
    <link rel="stylesheet" href="./public/style/footer/style.css">
    <link rel="stylesheet" href="./public/style/content/resStyle.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img class="LivingDelta" src="./public/img/Logo/DeltaLogo.png" alt="LivingdeltaLogo">
                <img class="AGuniversity" src="./public/img/Logo/AGuniversity.png" alt="AGuniversityLogo">
            </div>
        </div>
        <div id="content" class="content">
            <div class="banner">
                <h1>Adminstrative boundary of Viet Nam</h1>
            </div>
            <div id="ConditionSearch" class="search">
                <div class="search--Box">
                    <div class="ConditionSearch">
                        <fieldset class="ConditionSearch">
                            <legend>Choose condition to search</legend>
                            <div>
                                <!-- <input type="checkbox" id="Country" name="Country" v-on:change="CatchCheckEvent('Country')"> <label for="Country">Country</label> -->
                                <!-- <br> -->
                                <input type="checkbox" id="Province" name="Province" v-on:change="CatchCheckEvent('Province')"> <label for="Province">Province</label>
                                <br>
                                <input type="checkbox" id="District" name="District" v-on:change="CatchCheckEvent('District')"> <label for="District">District</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="EnterDataSearch">
                    <!-- <div class="EnterKeyword" v-if="showInput1">
                        <label for="Country">Country</label>
                        <br><br>
                        <input type="text" name="input-Country" id="input-Country" autocomplete="node" required>
                    </div> -->
                    <div class="EnterKeyword" v-if="showInput2">
                        <label for="Province">Province</label>
                        <br><br>
                        <input type="text" name="input-Province" id="input-Province" autocomplete="node" required>
                    </div>
                    <div class="EnterKeyword" v-if="showInput3">
                        <label for="District">District</label>
                        <br><br>
                        <input type="text" name="input-District" id="input-District" autocomplete="node" required>
                    </div>
                    <div style="height: 50px;">

                    </div>
                    <div class="search--Button">
                        <button v-on:click="GetDataInput()"><i class="fa">&#xf002;</i></button>
                    </div>
                </div>
                
            </div>  
            <div id="app" class="result">   
                <h2 class="welcomeChar">Welcome to the page!</h2>            
            </div>
        </div>
        <div class="footer">
            <div class="footer--content">
                <p>Powered by AG university, Living Delta Hub.</p>
            </div>
            <center>Built by MQT dev.</center>
            <br>
        </div>
    </div>

    <script src="main.js"></script>
    <script src="./resources/views/blocks/results/template.js"></script>
    <script src="./resources/views/blocks/results/queryAPI.js"></script>
</body>
</html>


<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete -->