
/*================= Footer ===================*/
.wrapper .footer {
    /* position: absolute; */
    /* bottom: 0; */
    /* position: fixed; */
    width: 100%;
    /* background-image: linear-gradient(rgba(165, 164, 194, 0.308), rgba(165, 164, 194, 0.308)), url("/public/img/Banner/Footer/Banner.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 100% 100%; */
    background-color: #e8e8e8;
    /* min-height: 10rem; */
}

.wrapper .footer .footer--content {
    font-size: 2rem;
    text-align: justify;
}

.wrapper .footer .footer--content p {
    padding: 1.8rem;
    width: fit-content;
    font-family: var(--font-family);
    font-weight: 200;
    margin-left: auto;
    margin-right: 0;
}

.footer center {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2vh;
}