.result {
    display: block;
    margin: 15rem 15rem 8rem 15rem;
    flex-wrap: 6%;
    flex-wrap: wrap;
}

.result--GeoData {
    width: 100%;
}

.result--GeoData > ul > li {
    font-size: 1.4rem;
    padding: 0.2rem;
    list-style: none;
}

.result--GeoData > ul > li > a {
    font-size: 1.4rem;
    text-decoration: none;
}

.result--Depict {
    margin-top: 2vh;
    width: 100%;
}

.depictImage {
    width: 60%;
    height: 50vh;
}

.welcomeChar {
    font-size: 4vw;
    font-family: 'Segoe UI', sans-serif;
}

.result--Depict > div > center > .depictImage {
    margin-top: 2vh;
}

.pagnigation {
    padding-bottom: 6vh;
    margin: auto;
    width: max-content;
}

.pagnigation > button {
    width: 3rem;
    height: 3rem;
    border: 0.2px rgb(168, 168, 168);
    cursor: pointer;
}

.pagnigation > button:hover {
    background-color: rgb(162, 162, 162);
}

@media screen and (max-width: 1200px) {
    .result {
        margin: 2rem 2rem 2rem 2rem;
    }
    .depictImage {
        width: 90%;
    }
}

@media screen and (max-width: 968px) {
    
}

@media screen and (max-width: 768px) {
    .result {
        margin: 2rem 2rem 8rem 2rem;
    }

    .depictImage {
        height: 50vh;
        width: 100%;
    }
}

.depictImage {
    font-size:1vw; 
    font-family: 'Segoe UI', san-serif;
}

@media screen and (max-width: 1200px) {
    .depictImage {
        font-size:2vw; 
        font-family: 'Segoe UI', san-serif;
    }
}

@media screen and (max-width: 968px) {
    .depictImage {
        font-size:2.2vw; 
    }
}
@media screen and (max-width: 768px) {
    .depictImage {
        font-size:2.4vw; 
    }
}
@media screen and (max-width: 468px) {
    .depictImage {
        font-size:3.4vw; 
    }
}