@media screen and (max-width:1200px) {
    :root {
        --widthSearch: 55%;
    }
}

/* @media screen and (max-width:950px) {
    :root {
        --widthSearch: 30%;
    }
} */

@media screen and (max-width:768px) {
    :root {
        --widthSearch: 90%;
    }
    .search {
        position: unset;
        margin: 2rem auto;
    }
}
