
.search {
    width: var(--widthSearch);
    /* position: absolute; */
    margin: 2rem 25rem;
    /* display: flex; */
    background: var(--background-color);
    border-radius: 0.8rem;
    box-shadow: 4px 7px 15px 1px grey
}

.search label, select, button, input {
    font-size: var(--fontSize-content);
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.search label {
    color: white;
}

.search button {
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    background-color: var(--background-color);
    color: white;
    opacity: .8;
    border: 0;
}

.search--Box {
    width: var(--widthSearch--Box);
    /* padding: 0.6rem 1rem 0.6rem 0.6rem; */
}

.search--Button {
    width: var(--widthSearch--Button);
}

.search--Box .ConditionSearch {
    display: flex;
    width: 98%;
    padding: 0.6rem 1% 0.6rem 1%;
    margin: auto;
    border: none;
}

.ConditionSearch legend, label {
    font-size: 1.2vw;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
}

.ConditionSearch input {
    transform: scale(1.5);
}

.EnterDataSearch {
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    margin: auto;
    position: relative;
}

.EnterKeyword > input {
    width: 96%;
    border-radius: 5px;
    border: 0.2px solid grey;
    padding: 1vh 2%;
}

.search--Button {
    position: absolute;
    width: 5vw;
    right: 0;
    bottom: 0;
    margin: 0rem 1rem 0.6rem 0rem;
}
.search--Button button {
    padding: 1.5vh 0.5vw;
    cursor: pointer;
}
.search--Button button:hover{
    transition: 0.15s;
    background-color: rgb(95 95 156);
    opacity: 1;
}

.search--Button button:active i {
    font-size: 2.4vh;
}

@media screen and (max-width: 1200px) {
    .search {
        width: calc(var(--widthSearch) + 0%);
        /* position: absolute; */
    }
    .ConditionSearch legend, label {
        font-size: 1.6vw;
    }
}


@media screen and (max-width: 992px) {
    .search {
        width: calc(var(--widthSearch) + 30%);
        margin: 3vh auto;
        position: unset;
    }
    .ConditionSearch legend, label {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .search {
        width: calc(var(--widthSearch) + 5%);
    }
    .ConditionSearch legend, label {
        font-size: 3vw;
    }

    .search--Button {
        width: 12vw;
    }
}

@media screen and (max-width: 500px) {
    .ConditionSearch legend, label {
        font-size: 5vw;
    }
    
    .search {
        width: calc(var(--widthSearch) + 5%);
    }
}