:root{
    --widthSearch: 35%;

    --background-color: rgb(95, 95, 224);
    --fontSize-content: 2rem; 

    --widthSearch--Box: 100%;
    --widthSearch--Button: calc(100% - var(--widthSearch--Box) );
}

.wrapper .content {
    width: 100vw;
    max-width: 100%;
    min-height: 60vh;
}
