/*================= Header =====================*/
.wrapper .header {
    height: fit-content;
    background-color: #3057ea;
    width: 100vw;
    max-width: 100%;
}

.wrapper .header .logo {
    position: relative;
    width: 100%;
}

.wrapper .header .logo .LivingDelta {
    /* height: 20rem;
    width: 40rem; */
    height: 20%;
    width: 40%;
}

.wrapper .header .logo .AGuniversity {
    position: absolute;
    /* height: 20rem;
    width: 25rem; */
    height: 100%;
    width: 25%;
    right: 0;
}