@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Source+Sans+Pro:wght@600&display=swap');       
* {
    margin: 0; 
    padding: 0;
    font-size: 62.5%;
}

html {
    box-sizing: border-box;
}


:root {
    --font-family: 'Inter', sans-serif;
}

 /*================= Layout =====================*/
 .wrapper {
    position: relative;
    min-height: 100vh;
    margin: 0;
}
